@tailwind base;
@tailwind components;
@tailwind utilities;

.oswald {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

a {
	font-weight: 500;
	color: #592932;
	text-decoration: inherit;
}
a:hover {
	color: #592932;
}

.box {
  -webkit-box-reflect: below 0.5vmin linear-gradient(transparent 0 50%, white 100%);
}
